.card-grid {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    max-height: 280px;
    text-align: center;
    border: #2796ff solid 10px;
    border-radius: 12px;
    transition: box-shadow 0.2s;
    margin: 10px;
}

.card img {
    max-height: 230px;
    object-fit: contain;
}

.card span {
    color: white;
    font-size: 20px;
}

.card:hover {
    cursor: pointer;
    -webkit-box-shadow:0px 0px 29px 4px rgba(2,80,153,0.9);
    -moz-box-shadow: 0px 0px 29px 4px rgba(2,80,153,0.9);
    box-shadow: 0px 0px 29px 4px rgba(2,80,153,0.9);
}